html {
    font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
        background: #002e63;
    }
}

.app {
    @apply relative w-full h-screen overflow-hidden;
}

.home {
    @apply w-fit xl:h-full flex xl:justify-between justify-start items-start flex-col xl:py-8 xl:px-36 sm:p-8 p-6 max-xl:gap-7 absolute z-10;
}

.home-content {
    @apply flex-1 xl:justify-center justify-start flex flex-col gap-10;
}

.head-text {
    @apply xl:text-[10rem] text-[6rem] xl:leading-[11rem] leading-[7rem] font-black text-white;
}

.head-text-sub {
    @apply xl:text-[7rem] text-[4rem] xl:leading-[9rem] md:text-[4rem] sm:text-[3rem] leading-[5rem] font-black text-white;
}

